@*@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@

<script src="/lib/jquery/js/jquery.js"></script>
<script src="/lib/bootstrap/js/bootstrap.js"></script>

<link href="/css/site.css" rel="stylesheet" />

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="#"><img src="/img/logo-1.png" /></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#about">About</a>
                </li>
                <li>
                    <a href="#software">Software</a>
                </li>
                <li>
                    <a href="#news">News</a>
                </li>
                <li>
                    <a href="#webinar">Webinar</a>
                </li>
                <li>
                    <a href="#web99">Web99</a>
                </li>
                <li>
                    <a href="#training">Training</a>
                </li>
                <li>
                    <a href="/Purchase">Purchase</a>
                </li>
                <li>
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Header -->
<a name="intro"></a>
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1><img class="img-responsive center-block" src="/img/logo.png" /></h1>
                    <h3>Seasonal and Range Trading Software</h3>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="#training" class="btn btn-default btn-lg"><i class="fa fa-lightbulb-o"></i> <span class="network-name">Learn</span></a>
                        </li>
                        <li>
                            <a href="/Account/Login" class="btn btn-default btn-lg"><i class="fa fa-key"></i> <span class="network-name">Join</span></a>
                        </li>
                        <li>
                            <a href="/Software" class="btn btn-default btn-lg"><i class="fa fa-line-chart"></i> <span class="network-name">Trade</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->
<!-- Page Content -->
<a name="about"></a>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">About Magenta Trader</h2>
            <p class="lead">
                Magenta Trader is a powerful stock market visualization software that increases your probability of trading
                success.  We succeed by using deep analysis and comprehensive searches of seasonal price movements and range trading
                trends. Don't get caught relying on technical indicators that use the same data in slightly different ways
                to predict price movements. Magenta Trader uses totally independent data by comparing the last six months
                with movements over the previous 20 years!
            </p>
        </div>
    </div>
</div>
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Five(5) simple step process to supercharge your trading.</h2>
                <p class="lead">
                    Derek Pilger, the founder of Magenta Trader will present a simple 5 step process to supercharge your trading,
                    using common sense analysis made easy only with Magenta Trader:
                    <ul class="list-group">
                        <li class="list-group-item">What times of the year should I buy or sell a stock or option?</li>
                        <li class="list-group-item">Does the stock price movements agree with seasonal patterns?</li>
                        <li class="list-group-item">Do we have a strong price trend that looks set to continue?</li>
                        <li class="list-group-item">Are we off the trend line in an overbought or oversold position?</li>
                        <li class="list-group-item">Are the stock and the overall market moving in the expected direction right now?</li>
                    </ul>
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-body"><img class="img-responsive center-block" src="/img/derekportrait-1.png" alt="" /></div>
                    <div class="panel-footer" style="text-align:center">
                        Derek Pilger, Founder - Magenta Trader 
                    </div>
                    <div class="panel-body" style="text-align:center">
                        "We did not invent cycle, trend, and range trading. The practice has been around for
                        decades. Take a few minutes and you will see that by using current technology, we made
                        the charts and information more clear."
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a name="software"></a>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Magenta Trader Software</h2>
                <p class="lead">
                    Magenta Trader is Seasonal and Range Trading Software that simply works. It features the world's best 252
                    day seasonality and a world class search engine and calendar.
                    <br />
                    <br />
                    <a href="/Software" class="btn btn-primary btn-lg"><span class="network-name">Launch Software</span></a>
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="/img/software-1.png" alt="">
            </div>
        </div>
    </div>
</div>

<a name="news"></a>
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <hr class="section-heading-spacer">
            <div class="clearfix"></div>
            <h2 class="section-heading">News</h2>
            <p class="lead">
                February 25, 2015:
                <ul class="list-group">
                    <li class="list-group-item">1. Cross-hair total average.</li>
                    <li class="list-group-item">2. Display earnings.</li>
                    <li class="list-group-item">3. Upgrade Screener (Download result, ADR/AGR, etc.)</li>
                    <li class="list-group-item">4. Correct Magenta Channel when zooming.</li>
                </ul>
            </p>
        </div>
    </div>
</div>

<a name="webinar"></a>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Webinar</h2>
                <p class="lead">
                    The best software in the world is junk unless one knows how to use it properly.
                    The founder Derek Pilger provides three weekly webinars for all the Magenta family.
                    Three times a week he looks at active trades and makes Magenta predictions.
                    <br />
                    <br />
                    <a href="/FreeWebinars" class="btn btn-primary btn-lg"><span class="network-name">VIEW WEBINAR VIDEOS</span></a>
                    <br />
                    <br />
                    <a href="http://www.tradersexclusive.com"><img src="/img/te1.png" /></a>
                    <br />
                    <br />
                    @*<a href="/FreeWebinars/Webinar" class="btn btn-warning btn-lg">Wednesday Join Webinar 1pm ET Derek speaks at 2:30pm ET</a>*@
                </p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="/img/webinar.png" alt="">
                <ul id="WebinarList" class="list-group">
                    <li class="list-group-item" style="text-align:center"><a href="#">Webinar1</a></li>
                    <li class="list-group-item" style="text-align:center"><a href="#">Webinar2</a></li>
                    <li class="list-group-item" style="text-align:center"><a href="#">Webinar3</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<a name="web99"></a>
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Web99</h2>
                <p class="lead">
                    Magenta Trader is proud to have the coaches of Web99. They cover advanced techniques through Magenta,
                    MACD and great searches to prepare you for the markets. The service is $99/month, and once you’ve listened to a 
                    Web99 Webinar, you’ll come back every week.
                    <br />
                    <br />
                    <a href="/Web99" class="btn btn-primary btn-lg"><span class="network-name">VIEW WEB99 VIDEOS</span></a>
                    <br />
                    <br />
                    <a href="/Account" class="btn btn-warning btn-lg">Web99 Internet Workshop - March 9-13, 2015<br/>8:30AM (Derek) 9:00AM (Sue) - Mon-Fri</a>
                </p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="/img/web99-1.png" alt="">
            </div>
        </div>
    </div>
</div>

<a name="training"></a>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Training Videos</h2>
                <p class="lead">
                    Upgrade your tradings skills with sample tutorial videos taught by Derek Pilger and his team at Magenta Trader.
                </p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="/img/training1.png" alt="">
                <ul id="TrainingVideoList" class="list-group">
                    <li class="list-group-item" style="text-align:center"><a href="https://mediasvcmg26x4p1t4vmz.blob.core.windows.net/asset-cc1e445d-1500-80bd-b632-f1e4b77a3bb9/2015-02-16_19.mp4?sv=2012-02-12&sr=c&si=95c396b1-58bb-4e8c-ba81-0a4d6dca8891&sig=2BMDckOug7tkP2zOW0HFXo31WF9alj%2FAyZgqlPJmtEs%3D&st=2015-02-18T14%3A27%3A50Z&se=2017-02-17T14%3A27%3A50Z">Feb 16, 2015 - First Training Video</a></li>
                    @*<li class="list-group-item" style="text-align:center">
                        <video src="https://mediasvcmg26x4p1t4vmz.blob.core.windows.net/asset-8712445d-1500-80bd-ca8b-f1e4b886a708/2015-02-18_21.mp4?sv=2012-02-12&sr=c&si=072cc33a-1993-4e69-9b3e-ed41017bc276&sig=c0kzMz%2BzqthIM4LnsyfNgn%2BJIV9OE5%2BfwDsG%2FI7QGZc%3D&se=2016-02-19T22%3A29%3A09Z" controls autoplay loop muted preload="auto" class="video1">
                            View Video
                        </video>
                    </li>*@
                </ul> 
            </div>
        </div>
    </div>
</div>

<a name="contact"></a>
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2><i class="fa fa-phone fa-fw"></i> 813 961-2641</h2>
            </div>
            <div class="col-lg-6">
                <p>CALL TO GET PASSWORD: Feb. 17, 2015: (A-F), Feb. 18, 2015: (G-L), Feb. 19, 2015: (M-S), Feb. 20, 2015: (T-Z) </p>
            </div>
            @*<div class="col-lg-4">
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="#webinar" class="btn btn-default btn-lg"><i class="fa fa-lightbulb-o fa-fw"></i> <span class="network-name">Learn</span></a>
                    </li>
                    <li>
                        <a href="/Account/Login" class="btn btn-default btn-lg"><i class="fa fa-key fa-fw"></i> <span class="network-name">Join</span></a>
                    </li>
                    <li>
                        <a href="/Software" class="btn btn-default btn-lg"><i class="fa fa-line-chart fa-fw"></i> <span class="network-name">Trade</span></a>
                    </li>
                </ul>
            </div>*@
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.banner -->
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="list-inline">
                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#software">Software</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#news">News</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#webinar">Webinar</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#web99">Web99</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#training">Training</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/Purchase">Purchase</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; Magenta Trader 2015. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>

<!--JAVASCRIPT-->>
<script type="text/javascript">
    $(document).ready(function () {
        $("#WebinarList").empty();
        $.ajax({
            url: '/api/LatestEvent',
            cache: false,
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            data: {},
            success: function (Results) {
                if (Results.length > 0) {
                    for (i = 0; i < Results.length; i++) {
                        $("#WebinarList").append("<li class='list-group-item' style='text-align:center'><a href='" + Results[i]["URL"] + "'>" + Results[i]["EventDate"] + " - " + Results[i]["EventDescription"] + "</a></li>");
                    }
                } 
            }
        }).fail(
            function (xhr, textStatus, err) {  }
        );
    });
</script>
