@{
    ViewBag.Title = "Home";
}

<div class="slider">
    <div class="cycled">
        <div class="cycle-slideshow"
             data-cycle-fx="fadeIn"
             data-cycle-timeout="6000"
             data-cycle-prev="#cycle_prev"
             data-cycle-next="#cycle_next"
             data-cycle-slides="> div">
            <div class="cycled-item">
                <img src="/img/slides/1.jpg" />
                <div class="cycled_title">
                    <div class="wrapper">
                        <div class="row">
                            <div class="col-sm-8 col-md-8">
                                <div class="_title">
                                    <h1>Magenta Cloud<br><span>(Seasonal and Range Trading Software)</span></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cycled-item">
                <img src="/img/slides/1.jpg" />
                <div class="cycled_title">
                    <div class="wrapper">
                        <div class="row">
                            <div class="col-sm-8 col-md-8">
                                <div class="_title">
                                    <h1>Magenta Cloud<br><span>(Seasonal and Range Trading Software)</span></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="cycled_controls">
            <div id="cycle_prev"><i class="fa fa-arrow-circle-o-left"></i></div>
            <div id="cycle_next"><i class="fa fa-arrow-circle-o-right"></i></div>
        </div>
    </div>
</div>
<div class="latest_updates">
    <div class="wrapper">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="cycled">
                    <div class="cycle-slideshow"
                         data-cycle-fx="scrollHorz"
                         data-cycle-timeout="5000"
                         data-cycle-prev="#"
                         data-cycle-next="#"
                         data-cycle-pager="#cylce_pager"
                         data-cycle-slides="> div">

                        <div class="cycled-item">
                            <div class="latest">
                                <!--div class="row"-->
                                <div class="col-sm-8 col-md-8">
                                    <div class="updates">
                                        <div class="details">
                                            <h3>Webinars</h3>
                                            <p>Sign up for 30 day trial of Free Webinars  -  no credit card required.</p>
                                            <p>Sunday, Tuesday and Thursday at 9pm ET featuring Derek Pilger</p>
                                            <p>Web99 weekly webinars by the Magenta Coaches</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <div class="featured_image">
                                        <img src="/img/webinars.jpg" />
                                    </div>
                                </div>
                                <!--/div-->
                            </div>
                        </div>
                        <div class="cycled-item">
                            <div class="latest">
                                <!--div class="row"!-->
                                <div class="col-sm-8 col-md-8">
                                    <div class="updates">
                                        <div class="details">
                                            <h3>Webinars</h3>
                                            <p>Sign up for 30 day trial of Free Webinars  -  no credit card required.</p>
                                            <p>Sunday, Tuesday and Thursday at 9pm ET featuring Derek Pilger</p>
                                            <p>Web99 weekly webinars by the Magenta Coaches</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 col-md-4">
                                    <div class="featured_image">
                                        <img src="/img/webinars.jpg" />
                                    </div>
                                </div>
                                <!--/div!-->
                            </div>
                        </div>
                    </div>
                    <div id="cylce_pager"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="middle">
    <div class="wrapper">
        <div class="col-sm-12 col-md-12">
            <div class="post-entry">
                <h1>Welcome</h1>
                <p>Magenta Trader is powerful stock market visualization software that increases your probability of trading success through deep analysis and comprehensive searches of seasonal price movements and range trading trends.  Don't get caught relying on technical indicators that use the same data in slightly different ways to predict price movements! Magenta Trader uses totally independent data by comparing the last 6 months with movements over the previous 20 years!</p>
                <p>Derek Pilger, the founder of Magenta Trader will present a simple 5 step process to supercharge your trading, using common sense analysis made easy only with Magenta Trader:</p>
                <ul>
                    <li>What times of the year should I buy or sell a stock or option?</li>
                    <li>Does the stock price movements agree with seasonal patterns?</li>
                    <li>Do we have a strong price trend that looks set to continue?</li>
                    <li>Are we off the trend line in an overbought or oversold position?</li>
                    <li>Are the stock and the overall market moving in the expected direction right now?</li>
                </ul>

                <p>Magenta webinars are done by Derek Pilger the founder of magenta trader.  Web99 Webinars are done by Magenta coaches who have a a superb track record of successful coaching and trading.  This service is the strength of Magenta that provides the expertise and coaching to be successful in the stock market.</p>
            </div><!--post-entry ends here-->
        </div>
        <div class="col-sm-12 col-md-12">
            <div class="our_services">
                <h1>Our Services</h1>
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <div class="service">
                            <img src="/img/services/Seasonality-Lines.jpg" />
                            <h3><strong>Magenta Cloud</strong></h3>
                            <p>Seasonal and Range trading Software that simply works.  It feature the worlds best 252 day seasonality and a world class Search engine and calendar.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="service">
                            <img src="/img/services/Seasonality.jpg" />
                            <h3><strong>Webinars</strong></h3>
                            <p>The best software in the world is junk umless one knows how to use it properly.  The founder Derek Pilger provides 3 weekly webinars for all the magenta Family.  Three times a week he looks at active trades and makes Magenta Predictions.</p>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="service">
                            <img src="/img/services/The-scanner.jpg" />
                            <h3><strong>Web99</strong></h3>
                            <p>My is proud to have the coaches of Web99.  They over advanced techniques through Magenta, MACD and great searches to prepare yourself for the market.  The service is $99/month and find out why once you listen to a Web99 Webinar, you will come back every week.</p>
                        </div>
                    </div>
                </div>
            </div><!--our_services ends here-->
        </div>
    </div>
</div>




