@{
    ViewBag.Title = "Index";
}

<script src="/js/jquery-1.10.2.min.js"></script>

<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="/Home"><span><img src="/img/logo-1.png" /></span></a>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <h2 class="section-heading">Video</h2>
        <div class="col-lg-12">
            <video src="https://mediasvcmg26x4p1t4vmz.blob.core.windows.net/asset-8712445d-1500-80bd-ca8b-f1e4b886a708/2015-02-18_21.mp4?sv=2012-02-12&sr=c&si=072cc33a-1993-4e69-9b3e-ed41017bc276&sig=c0kzMz%2BzqthIM4LnsyfNgn%2BJIV9OE5%2BfwDsG%2FI7QGZc%3D&se=2016-02-19T22%3A29%3A09Z" controls autoplay loop muted preload="auto" class="video1"></video>
        </div>
    </div>
</div>


