@{
    ViewBag.Title = "Webinar";
}

<link href="/css/bootstrap.min.css" rel="stylesheet" />

<script src="/js/jquery.js"></script>
<script src="/lib/bootstrap/js/bootstrap.js"></script>

@*Menu*@
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand topnav" href="/Home"><span><img src="/img/logo-1.png" /></span><span class="hidden-xs"></span></a>
        </div>
    </div>
</nav>

<div class="container">

    <div class="row">

        <h2 class="section-heading">Letter</h2>

        <h4>Join this Complimentary Workshop – Wed, February 11th at 12:00p CT </h4>

        <br />

        <p>
            Dear Trader:
        </p>

        <p>
            Join us for <b>Learn the Secrets to Make Your Trading Great</b> with <b>three</b> of the most knowledgeable traders and
            instructors in the business.
        </p>

        <p>
            <a href="http://learn.markettaker.com/cmd.php?ad=718294">REGISTER HERE for the Traders Exclusive Event!</a>
        </p>
        
        <p>
            <b>Featured Presenters:</b>
        </p>
        
        <p>
            <b>
                12:00 - 12:45 PM CT – Joe Rios of Rios Quantitative LLC on “Quantitative Trading: See why we are ranked in the
                top 2% as "Trading Titans"”
            </b>
        </p>
        
        <p>
            <b>Description:</b> Why follow the markets through a rear view mirror? Trade the markets with forward-looking predictive
            indicators designed to spot the key levels in the markets, in advance. Quant trading is fast becoming the favored
            approach by hedge-fund managers and now it's helping the self-directed trader. Join Joe Rios and see how quant
            trading was responsible for his live trading room being ranked in the top 2% for two consecutive years. The study
            was conducted by Dr. Dean Handley, PhD, MBA, JD, a renowned expert in evaluating futures trading rooms. Don't miss
            out on this great introduction to quant trading, find out if quant trading is for you.
        </p>
        
        <p>
            <b>12:45 - 1:30 PM CT – Kam Dhadwar of L2ST Traders Coaching on “The L2ST Trading Framework”</b>
        </p>
        
        <p>
            <b>Description:</b> Join Kam Dhadwar and he will share with you the foundation which makes up what I call the L2ST Trading
            Framework, which uses Auction Market Theory, Value Trading, Market Volume Profile, Stage Analysis and Fibonacci in
            a unique way so that any market situation can be Framed and placed into the context of the Framework.  This provides
            the base-work for every choice decision that is made throughout the day when moving through a process of Planning,
            Preparation through to Execution and Trade Management.
        </p>
        
        <p>
            <b>1:30 - 2:15 PM CT – Derek Pilger of Magenta Trader on “5 Magenta Steps for Seasonal Trades"</b>
        </p>
        
        <p>
            <b>Description:</b> Derek Pilger will outline the 5 Magenta Trader Steps to help make your trades simpler and with a higher
            probability. Magenta Trader is a powerful stock market visualization software that increases your probability of
            trading success through deep analysis and comprehensive searches of seasonal price movements and range trading trends.
            Seasonality is combined with Range Trading to search for trades with high probabilities of success.
        </p>
        
        <p>
            <a href="http://learn.markettaker.com/cmd.php?ad=718294">REGISTER HERE for the Traders Exclusive Event!</a>
        </p>
        
        <p>
            <b>Derek Pilger</b>
        </p>        
    </div>

</div>




